.alphabetList {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.alphabetList .letter.highlight {
  color: red;
}
