.slideWrapperItem{
  .center {
    width:1920px;
    height:1080px;
    transform-style: preserve-3d;
    z-index: 999;
    text-align: center;

    img, video {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
