/* Temporary Borders - Will be deleted later*/
/*

.header-wrapper {
  border: 3px solid red;
  .logo {
    border: 2px solid palevioletred;
    .image {
      border: 2px solid rosybrown;
    }
  }
  .back { border: 2px solid limegreen; }
  .search { border: 2px solid palevioletred; }
  .language { border: 2px solid limegreen; }
  .clock-wrapper {
    border: 2px solid palevioletred;
    .clock {
      border: 1px solid lightsalmon;
    }
  }
  .rogue-menu { border: 2px solid limegreen; }
}

*/
/*
.content-wrapper {
  border: 4px solid blue;
  .page-wrapper {
    border: 3px solid deepskyblue;
    .header {
      border: 2px solid brown;
      .titleBar-wrapper {
        //background: rgba(150, 100, 200, 0.51);
      }
      .searchBar-wrapper {

      }
    }
    .content {
      border: 2px solid saddlebrown;
      //background: peachpuff;

      .map-shop-details-wrapper {
        border: 2px solid black;
        .map-promotion {
          border: 2px solid blueviolet;
          .map-fake {
            border: 2px solid orangered;
          }
          .promotion-wrapper {
            border: 2px solid orange;
            .promotions {
              border: 2px solid darkolivegreen;
            }
            .related-promo {
              border: 2px solid lightseagreen;
            }
          }
        }
        .shop-details-wrapper {
          border: 2px solid deepskyblue;
          .shop-image {
            border: 2px solid darkred;
          }
          .shop-details {
            border: 2px solid mediumvioletred;
            .location-wrapper {
              border: 2px solid greenyellow;
              .logo-wrapper {
                border: 2px solid brown;
              }
              .terminal-wrapper {
                border: 2px solid rosybrown;
              }
              .location-description-wrapper {
                border: 2px solid sandybrown;
              }
            }
            .descriptions-wrapper {
              border: 2px solid springgreen;
              .name-wrapper {
                border: 2px solid deeppink;
              }
              .desc-wrapper {
                border: 2px solid hotpink;
              }
            }
          }
        }
      }

      .landingPageHomeContentBorder {
        border: 1px solid black;
        .main-categories-wrapper {
          border: 2px solid blue;
          >div {
            border: 1px solid deeppink;
            >div {
              border: 1px solid darkblue;
            }
          }
        }
      }

      .shopHomeContentBorder {
        border: 1px solid black;
        .main-categories-wrapper {
          border: 2px solid blue;
          >div {
            border: 1px solid deeppink;
            >div {
              border: 1px solid darkblue;
            }
          }
        }
      }
      .categoriesContentBorder {
        border: 1px solid black;
        .filterBar-wrapper {
          border: 1px solid forestgreen;
        }
        .sub-categories-wrapper {
          border: 1px solid orangered;
          .subcategory {
            border: 1px solid cornflowerblue;
            >div {
              border: 1px solid darkred;
            }
          }
        }
      }

      .poisPageContentBorder {
        border: 1px solid black;
        .filterBar-wrapper {
          border: 1px solid forestgreen;
        }
        .shop-pois-wrapper {
          border: 1px solid orangered;
        }
        .poisFilter-wrapper {
          border: 1px solid cornflowerblue;
        }
      }
    }
  }
}
*/
/*

.fixed-wrapper {
  border: 3px solid green;
  .handicapped-button {
    border: 2px solid goldenrod;
  }
  .mavp-button {
    border: 2px solid darkorange;
  }
}


.menu-wrapper {
  //border: 2px solid yellow;
  .menu li {
    border: 2px solid sandybrown;
    .image {
      border: 2px solid cornflowerblue;
    }
    .text {
      border: 2px solid blueviolet;
    }
  }
}

*/
